body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif;
}

.form {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  background: url(../img/bg.jpg) top center/ cover no-repeat;
}

.form-main {
  margin: auto;
  width: 30%;
  height: 100%;
}

.form-header {
  font-size: 60px;
  font-weight: 400;
  text-align: center;
  margin: 0;
  padding: 100px 0 50px;
  color: var(--white-color);
}

.form-user,
.form-password {
  padding: 20px 12px 8px 0;
  display: flex;
  border-bottom: 1px solid var(--white-color);
  margin-right: 50px;
  margin-bottom: 20px;
}

.form-user i,
.form-password i {
  margin-right: 15px;
  padding-bottom: 8px;
  font-size: 20px;
  line-height: 24px;
  color: var(--white-color);
}

.form-user input,
.form-password input {
  flex: 1;
  border: none;
  font-size: 15px;
  outline: none;
  background-color: transparent;
  color: var(--white-color);
}

.form-wrap div:nth-child(3) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 12px 12px 0;
}

.form-remember {
  display: flex;
  align-items: center;
}

.form-remember input {
  width: 16px;
  height: 16px;
}

.form-remember span {
  font-size: 14px;
  margin-top: 2px;
  margin-left: 8px;
  color: var(--white-color);
}

.form-forgot {
  font-size: 14px;
  text-decoration: none;
  color: var(--white-color);
}

.form-submit {
  width: 100%;
  height: 45px;
  font-size: 24px;
  margin: 16px 0 20px;
  border: none;
  outline: none;
  background-color: #ff3366;
  color: var(--white-color);
}

.form-link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 20px;
}

.form-fb {
  background-color: rgb(59, 98, 163);
  border: none;
}

.form-gg {
  border: 1px solid var(--gray-color);
}

.form-fb,
.form-gg {
  text-decoration: none;
  color: var(--white-color);
  padding: 8px 20px 8px 8px;
  border-radius: 4px;
  color: hsv;
}

.form-fb i,
.form-gg i {
  margin-right: 6px;
}

.form-forgot:hover,
.form-submit:hover,
.form-fb:hover,
.form-gg:hover {
  opacity: 0.8;
  cursor: pointer;
}
