* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

html {
    font-size: 62.5%;
    line-height: 1.5;
    /* font-family: 'Poppins', sans-serif; */
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: transparent;
}

.container {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

/* HEADER */
/* navbar */
.navbar {
    background-image: linear-gradient(#ff7f50, #f46164);
}

.navbar-content {
    width: fit-content;
    margin-left: auto;
}

.navbar-item {
    display: inline-block;
    width: fit-content;
    padding: 12px;
    text-decoration: none;
    transition: background-color 0.25s linear;
}

.navbar-item:hover {
    background-color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.navbar-item span,
.navbar-item i {
    font-size: 1.3rem;
    color: var(--white-color);
    padding-right: 6px;
}

/* search */
.search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}
.logo {
    display: flex;
    /* align-items: center; */
    text-decoration: none;
}
.logo img {
    width: 80px;
    height: 80px;
}

.logo span {
    font-size: 3rem;
    font-weight: 300;
    font-family: 'Lobster', cursive;
    color: #999;
    margin-top: 12px;
}
.search-content {
    width: 700px;
    display: flex;
    align-items: center;
}

.search-content input {
    flex: 1;
    height: 40px;
    padding: 0;
    padding-left: 12px;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.search-icon {
    display: inline-block;
    min-height: 40px;
    padding: 0 20px;
    line-height: 4rem;
    background-color: rgba(0, 0, 0, 0.8);
}

.search-icon i {
    font-size: 1.6rem;
    color: var(--white-color);
}

.cart {
    background-image: url(../img/cart.png);
    background-size: contain;
    width: 50px;
    height: 50px;
    margin-left: 50px;
    margin-right: 12px;
}

/* SLIDER */

.slider {
    display: flex;
    padding: 20px 0;
    gap: 20px;
}

.slider-left {
    max-width: 800px;
    position: relative;
    overflow: hidden;
}

.slider-prev,
.slider-next {
    --position-transfer: -50px;
    position: absolute;
    top: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    width: 40px;
    height: 40px;
    color: #000;
    background-color: rgb(235, 235, 235);
    opacity: 0.7;
    box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.05);
    border-radius: 100rem;
    z-index: 2;
    user-select: none;
    cursor: pointer;
    transition: all 0.3s linear;
}

.slider-prev {
    left: var(--position-transfer);
}

.slider-next {
    right: var(--position-transfer);
}

.slider-left:hover .slider-next,
.slider-left:hover .slider-prev {
    --position-transfer: 17px;
}

.slider-dots {
    position: absolute;
    bottom: 20px;
    right: 50%;
    transform: translateX(50%);
    margin: 0;
    padding-left: 0;
    display: flex;
    z-index: 5;
    gap: 20px;
}

.slider-dots-item {
    list-style: none;
    width: 20px;
    height: 6px;
    border-radius: 100rem;
    background-color: #000;
    cursor: pointer;
    transition: background-color 0.5s linear;
}

.slider-dots-item.active {
    background-color: var(--white-color);
}

.slider-wrapper {
    position: relative;
    width: 100%;
    height: 500px;
    overflow: hidden;
    display: flex;
    border-radius: 10px;
}

.slider-main {
    position: relative;
    display: flex;
    transition: transform 0.4s linear;
}

.slider-item {
    width: 100%;
    height: 100%;
    flex: 1 0 100%;
    background-color: #018baa;
}

.slider-item img {
    width: 100%;
    height: 100%;
    object-fit: fil;
}

.slider-right {
    flex: 1;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.slider-right-item {
    width: 100%;
    border-radius: 10px;
}

/* MAIN */

.main-header {
    background-color: #2f3542;
}

.main-header-list {
    margin: 0;
    display: flex;
    align-items: center;
}

.main-header-item {
    list-style: none;
    font-size: 1.8rem;
    line-height: 2rem;
    color: var(--white-color);
    padding: 17px 34px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.2s linear;
}

.main-header-item:hover {
    background-color: #018baa;
}

.category-list {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 0 40px;
}

.category-item {
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.category-item-link {
    --category-item: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--category-item);
    height: var(--category-item);
    border-radius: 100rem;
    background-color: #d8d9da;
    text-decoration: none;
    position: relative;
    transition: background-color 0.2s linear;
}

.category-item-link:hover {
    background-color: var(--white-color);
    border: 1px solid #0089ff;
}

.category-item-link:hover .category-item-icon {
    color: #0089ff;
}

.category-item-icon {
    font-size: 3rem;
    color: #9ba7bb;
    transition: color 0.2s linear;
}

.category-item-name {
    margin-top: 16px;
    font-size: 1.6rem;
    font-weight: bold;
    color: var(--text-color);
}

.pruduct-wrap {
    padding-top: 35px;
    margin-bottom: 20px;
    border-radius: 12px;
}

.product-heading {
    font-size: 25px;
    margin: 0;
    margin-bottom: 40px;
    color: #3a445e;
    text-transform: uppercase;
    text-decoration: none;
}

.product-item {
    text-decoration: none;
    padding: 12px 0;
    display: flex;
    flex-direction: column;
    margin-top: 12px;
    transition: box-shadow 0.2s linear, transform 0.3s ease-in-out;
    overflow: hidden;
}

.product-item:hover {
    box-shadow: 0 1px 7px 0 rgb(0 0 0 / 30%);
    transform: translateY(-1px);
    /* opacity: 0.6; */
}

.product-img {
    width: 100%;
    object-fit: contain;
}

.product-more {
    width: 100%;
    padding: 4px;
    background-color: #429a9d;
    text-align: center;
    font-size: 1.3rem;
    color: var(--white-color);
    margin-top: 16px;
    position: relative;
    transform: translateX(-110%);
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

.product-item:hover .product-more {
    transform: translateX(0);
    opacity: 1;
}

.product-more:hover {
    background-color: #747d8c;
}

.product-content {
    padding-top: 16px;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.product-name {
    font-size: 1.6rem;
    line-height: 2rem;
    color: #212529;
    margin: 0 0 12px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
}

.product-price {
    color: #f3283d;
    font-size: 1.4rem;
    font-weight: bold;
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    padding-right: 4px;
}

.product-heart {
    color: #95afc0;
}

.product-buy {
    background-color: #ee4d2d;
    color: var(--white-color);
    border: none;
    outline: none;
    padding: 8px;
    border-radius: 2px;
    margin-top: 8px;
    transform: translateY(140%);
    transition: all ease-in 0.2s;
}

.product-item:hover .product-buy {
    transform: translateY(0);
}

.product-buy:hover {
    background-color: #e43f1e;
}

.footer {
    margin-top: 20px;
    background-color: #1e90ff;
    padding: 20px 0 12px;
    color: rgb(238, 238, 238);
}

.footer-wrap {
    display: flex;
}

.footer-main {
    padding: 0 8px;
}

.footer-main:first-child {
    flex: 1.5;
}

.footer-main:nth-child(n + 2) {
    flex: 1;
}

.footer-heading {
    margin: 0 0 20px;
}

.footer-content {
    display: flex;
    margin-bottom: 15px;
}

.footer-content i {
    margin-top: 4px;
    margin-right: 12px;
    font-size: 1.4rem;
}

.footer-icon-4 {
    margin-bottom: -2px;
}

.footer-content p {
    margin: 0;
    font-size: 1.4rem;
    user-select: none;
}

.note {
    background-color: #f7f7f7;
}

.note p {
    font-size: 1.4rem;
    padding: 8px 0 8px 8px;
    margin: 0;
}

/* Dropdow */

.dropdowns {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    display: none;
}

.dropdow-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.dropdow-body {
    position: relative;
    height: 100%;
    background-color: var(--white-color);
    display: flex;
    flex-direction: column;
    transition: width 3s linear;
}

.dropdowns-form {
    height: 70px;
    background-color: #458ff6;
    display: flex;
    align-items: center;
}

.dropdowns-form i {
    width: 60px;
    font-size: 25px;
    text-align: center;
    color: var(--white-color);
}

.dropdowns-form div {
    display: flex;
    flex-direction: column;
}

.dropdowns-form div a {
    text-decoration: none;
    color: var(--white-color);
}

.dropdowns-form div a:nth-child(1) {
    font-size: 16px;
    margin-bottom: 8px;
}

.dropdowns-form div a:nth-child(2) {
    font-size: 14px;
}

.dropdowns-list {
    flex: 1;
}

.dropdowns-item {
    display: block;
    text-decoration: none;
    color: var(--text-color);
    min-height: 50px;
    font-size: 16px;
    line-height: 1.5;
    padding: 12px;
    border-bottom: #bfd7f8 1px solid;
}

.dropdowns-footer {
    width: 100%;
    display: flex;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.dropdowns-footer-item {
    flex: 1;
    text-align: center;
    font-size: 16px;
    opacity: 0.7;
    line-height: 40px;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.dropdowns-footer-item i {
    margin-right: 8px;
}

.return-home {
    position: fixed;
    bottom: 55px;
    right: 60px;
    width: 30px;
    height: 30px;
    background-color: #8395a7;
    text-align: center;
    display: none;
    text-decoration: none;
    z-index: 10;
    border-radius: 100rem;
    box-shadow: 0 0 8px var(--white-color);
    animation: appear linear 0.5s;
    -webkit-tap-highlight-color: transparent;
    transition: bottom 0.5s, opacity 0.5s;
}

.return-home i {
    margin-top: 3px;
    font-size: 20px;
    color: #222f3e;
    height: fit-content;
}
