/* PC */
@media (min-width: 1024px) and (max-width: 1239px) {
    /* home */
    .container {
        width: 984px;
        margin: 0 auto;
    }

    .slider-left {
        max-width: unset;
        width: 100%;
    }

    .slider-right {
        display: none;
    }
}

/* TABLET  */
@media (min-width: 740px) and (max-width: 1023px) {
    .container {
        max-width: 720px;
        margin: 0 auto;
    }

    /* header */
    .header-logo {
        display: none;
    }

    .header-support {
        width: fit-content;
        padding: 0 12px;
    }

    .header-support i {
        font-size: 1.8rem;
    }

    .header-support-infor span:nth-child(1) {
        font-size: 1.1rem;
    }

    .header-support-infor span:nth-child(2) {
        font-size: 1.3rem;
    }

    .header-form {
        width: 250px;
    }

    .header-form-login,
    .header-form-signup {
        font-size: 1.4rem;
        padding: 8px 16px;
    }

    .header-cart {
        width: 50px;
    }

    .slider {
        gap: 0;
    }

    /* body */
    .main-header-item {
        font-size: 1.6rem;
    }

    .category-list {
        gap: 0 10px;
    }

    .category-item-link {
        width: 40px;
        height: 40px;
    }

    .category-item-icon {
        font-size: 1.8rem;
    }

    .category-item-name {
        font-size: 1.3rem;
    }

    .product-heading {
        font-size: 2rem;
        margin-bottom: 20px;
    }

    /* footer */
    .footer-heading {
        font-size: 1.4rem;
        height: 38px;
    }

    .footer-content p {
        font-size: 1.2rem;
    }

    /* DANH MỤC */
    .product-colection {
        display: none;
    }

    .product-sort-list {
        display: none;
    }

    .product-select-wrap {
        display: flex;
    }

    .product-sort p {
        height: 56px;
    }

    /* GIỎ HÀNG */
    .logo img {
        width: 60px;
        height: 60px;
    }

    .logo span {
        font-size: 2rem;
    }

    .search-content {
        width: 400px;
    }

    .cart {
        width: 40px;
        height: 40px;
        margin-left: 20px;
    }

    .no-product {
        font-size: 3rem;
    }

    /* CHI TIẾT */
    .card {
        grid-template-columns: 360px 1fr;
    }

    .img {
        width: 350px;
        height: 350px;
    }

    .title {
        font-size: 24px;
    }

    .price {
        font-size: 19px;
    }

    .price span {
        font-size: 15px;
    }

    .buy {
        width: fit-content;
        height: 40px;
        font-size: 12px;
    }

    .phone {
        width: 100%;
        height: 30px;
    }

    .phone div {
        font-size: 11px;
        line-height: 30px;
    }

    .phone input {
        font-size: 13px;
    }

    .like,
    .share {
        font-size: 11px;
        height: 28px;
    }

    .like i,
    .share i {
        display: inline-block;
        margin-top: 1px;
    }

    .detail-title h1 {
        font-size: 18px;
    }
}

/*  MOBILE  */
@media (max-width: 739px) {
    .container {
        width: 100%;
        margin: 0 auto;
    }

    ::-webkit-scrollbar {
        display: none;
    }

    /* header */
    .header {
        margin-bottom: 32px;
    }

    .menu-mobile-icon {
        position: absolute;
        width: fit-content;
        padding: 8px;
    }

    .menu-mobile-icon span {
        display: block;
        width: 28px;
        height: 4px;
        background-color: var(--white-color);
        margin-top: 4px;
        border-radius: 100rem;
        text-align: center;
    }

    .navbar-item {
        padding: 12px 6px;
    }

    .navbar-item span {
        font-size: 1.2rem;
    }

    .navbar-item:nth-child(2),
    .navbar-item:nth-child(4),
    .navbar-item:nth-child(5) {
        display: none;
    }

    .search {
        flex-direction: column;
        padding: 0 8px;
    }

    .logo {
        width: unset;
        align-items: unset;
        margin: 12px 0;
    }

    .logo img {
        animation: unset;
    }

    .search-content {
        width: 100%;
    }

    .cart {
        display: none;
    }

    /* body */
    .main {
        margin-top: 0;
    }

    .main-header-list {
        display: none;
    }

    .slider {
        /* display: none; */
        padding: 0 4px;
        margin-bottom: 20px;
    }

    .slider-wrapper {
        height: unset;
    }

    .slider-right {
        display: none;
    }

    .category-list {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 16px 12px;
        margin-bottom: 40px;
    }

    .category-item-link {
        --category-item: 50px;
    }

    .category-item-icon {
        font-size: 1.6rem;
    }

    .category-item-name {
        font-size: 1.3rem;
    }

    .row-mobile {
        flex-wrap: nowrap;
    }

    .pruduct-wrap {
        padding: 0 8px;
    }

    .product-list {
        overflow-x: scroll;
        /* padding: 0 8px; */
    }

    .product-heading {
        font-size: 1.8rem;
        margin-bottom: 12px;
        border: 1px solid;
        border-radius: 100rem;
        padding: 8px 12px;
        margin-left: 12px;
        background-color: blueviolet;
        color: var(--white-color);
        width: fit-content;
        display: block;
    }

    .sale-box {
        margin: 0 8px;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 8px;
    }

    .sale-block {
        padding: 12px;
        font-size: 16px;
    }

    /* footer */
    .footer {
        padding-top: 8px;
        background-color: #1e90ff;
        color: rgb(238, 238, 238);
    }

    .footer-wrap {
        flex-direction: column;
    }

    .footer-heading {
        margin-bottom: 8px;
        margin-top: 12px;
        font-size: 1.6rem;
    }

    .footer-content {
        align-items: center;
        margin-top: 0;
    }

    .footer-content p {
        font-size: 1rem;
    }

    .footer-content i {
        margin-top: 0;
        margin-right: 7px;
    }

    .footer-icon-4 {
        margin-bottom: 2px;
    }

    .return-home {
        right: 20px;
    }

    /* DANH MỤC */
    .product {
        padding: 0;
    }
    .category-product {
        display: block;
    }

    .product-colection {
        display: none;
    }

    .product-select-wrap {
        display: flex;
    }

    .product-sort p {
        height: 56px;
    }

    .product-sort-list {
        display: none;
    }

    .product-list--category {
        flex-wrap: wrap;
    }

    /* GIỎ HÀNG */
    .cart-item {
        grid-template-columns: 70px 1fr 50px;
        height: fit-content;
        padding-bottom: 12px;
        margin: 0 8px 8px 8px;
    }

    .cart-img {
        width: 60px;
        height: 60px;
    }

    .cart-content {
        flex-direction: column;
        align-items: flex-start;
        padding-left: 12px;
    }

    .cart-name {
        padding: 12px 0 0 0;
    }

    .cart-price {
        margin: 8px 0;
    }

    .cart-sum-price {
        display: none;
    }

    .cart-total {
        gap: 0 10px;
    }

    .cart-total-title {
        font-size: 16px;
    }

    .cart-total-money {
        font-size: 18px;
    }

    .cart-total-buy {
        width: 120px;
        padding: 8px 0;
    }

    /* CHI TIẾT */
    .card {
        grid-template-columns: 1fr;
    }

    .img {
        width: 100%;
        height: 340px;
        grid-template-rows: 1fr;
    }

    .img-main {
        pointer-events: none;
        background: url(../img/chitiet.jpg) no-repeat center -160px;
        background-size: cover;
        z-index: 1;
        border: none !important;
        border-radius: 4px;
        opacity: 1;
    }

    .img-bottom{
        display: none;
    }

    .title {
        font-size: 26px;
    }

    .price {
        font-size: 20px;
    }

    .price span {
        font-size: 18px;
    }

    .phone {
        height: 30px;
    }

    .phone input {
        font-size: 12px;
        width: 200px;
    }

    .phone div {
        font-size: 10px;
        width: auto;
        line-height: 30px;
        padding: 0 8px;
    }

    .detail {
        padding: 0 8px;
    }

    .detail-title h1 {
        font-size: 18px;
    }
}
