/* PC */
@media (min-width: 1024px) and (max-width: 1239px) {
   /* home */
   .container {
      width: 984px;
      margin: 0 auto;
   }
}

/* TABLET  */
@media (min-width: 740px) and (max-width: 1023px) {
   .container {
      max-width: 720px;
      margin: 0 auto;
   }

   /* header */
   .header-logo {
      display: none;
   }

   .header-support {
      width: fit-content;
      padding: 0 12px;
   }

   .header-support i {
      font-size: 1.8rem;
   }

   .header-support-infor span:nth-child(1) {
      font-size: 1.1rem;
   }

   .header-support-infor span:nth-child(2) {
      font-size: 1.3rem;
   }

   .header-form {
      width: 250px;
   }

   .header-form-login,
   .header-form-signup {
      font-size: 1.4rem;
      padding: 8px 16px;
   }

   .header-cart {
      width: 50px;
   }

   /* body */
   .main-header-item {
      font-size: 1.6rem;
   }

   .category-list {
      gap: 0 10px;
   }

   .category-item-link {
      width: 40px;
      height: 40px;
   }

   .category-item-icon {
      font-size: 1.8rem;
   }

   .category-item-name {
      font-size: 1.3rem;
   }

   .product-heading {
      font-size: 2rem;
      margin-bottom: 20px;
   }

   /* footer */
   .footer-heading {
      font-size: 1.4rem;
      height: 38px;
   }

   .footer-content p {
      font-size: 1.2rem;
   }

   /* DANH MỤC */
   .product-colection {
      display: none;
   }

   .product-sort-list {
      display: none;
   }

   .product-select-wrap {
      display: flex;
   }

   .product-sort p {
      height: 56px;
   }
}

/*  MOBILE  */
@media (max-width: 739px) {
   .container {
      width: 100%;
      margin: 0 auto;
   }

   /* header */
   .header{
      position: unset;
      box-shadow: unset;
   }

   .header-navbar {
      height: fit-content;
      flex-wrap: wrap;
   }

   .menu-mobile {
      display: block;
      flex: 0 0 33.333%;
   }

   .menu-mobile-icon {
      width: fit-content;
      padding: 8px;
   }

   .menu-mobile-icon span {
      display: block;
      width: 28px;
      height: 6px;
      background-color: rgb(41, 40, 40);
      margin-top: 2px;
      border-radius: 100rem;
      text-align: center;
   }

   .header-logo {
      flex: 0 0 33.333%;
   }

   .header-logo-link img {
      height: 70px;
   }

   .header-search {
      order: 1;
      padding: 0;
   }

   .header-search-content {
      width: 390px;
   }
   .header-support {
      display: none;
   }

   .header-form {
      display: none;
   }

   .header-cart {
      flex: 0 0 33.333%;
      padding-right: 12px;
   }

   /* body */
   .main{
      margin-top: 0;
   }

   .main-header-list {
      display: none;
   }

   .slider{
      display: none;
   }

   .category-list {
      display: none;
   }

   .row-mobile {
      flex-wrap: nowrap;
   }

   .product-list {
      overflow-x: scroll;
      padding: 0 8px;
   }

   .product-heading {
      font-size: 1.8rem;
      margin-bottom: 12px;
      border: 1px solid;
      border-radius: 100rem;
      padding: 8px 12px;
      margin-left: 12px;
      background-color: blueviolet;
      color: var(--white-color);
      width: fit-content;
      display: block;
   }

   /* footer */
   .footer {
      padding-top: 8px;
   }

   .footer-wrap {
      flex-direction: column;
   }

   .footer-heading {
      margin-bottom: 8px;
      margin-top: 12px;
      font-size: 1.6rem;
   }

   .footer-content{
      align-items: center;
   }

   .footer-content p{
      font-size: 1rem;
   }

   .footer-content{
      margin-top: 0;
   }

   .footer-icon-4{
      margin-bottom: 2px;
   }

   /* DANH MỤC */
   .product {
      padding: 0;
   }
   .category-product {
      display: block;
   }

   .product-colection {
      display: none;
   }

   .product-select-wrap {
      display: flex;
   }

   .product-sort p {
      height: 56px;
   }

   .product-sort-list {
      display: none;
   }

   .product-list--category {
      flex-wrap: wrap;
   }
}
