:root {
   --white-color: #fff;
   --text-color: #212529;
   --primary-color: #fb8f1d;
   --search-color: #22c58b;
}

@keyframes growth {
   from {
      opacity: 0;
      top: 90%;
   }

   to {
      opacity: 1;
      top: calc(100% + 10px);
   }
}

@keyframes growth2 {
   from {
      opacity: 0;
      transform: scale(0);
   }

   to {
      opacity: 1;
      transform: scale(1);
   }
}

@keyframes around {
   from {
      transform: rotate(0deg);
   }
   to {
      transform: rotate(360deg);
   }
}

@keyframes appear {
   from {
      opacity: 0;
      bottom: 100px;
   }

   to {
      opacity: 1;
      bottom: 55px;
   }
}

@keyframes disappear {
   from {
      opacity: 1;
      bottom: 55px;
   }

   to {
      opacity: 0;
      bottom: 100px;
   }
}

@keyframes show {
   from{
      opacity: 0; 
      top: 100%;
   }

   to{
      opacity: 1;
      top: calc(100% + 8px);
   }
}