:root {
   --text-color: #212529;
}

@keyframes go {
   0% {
       left: -213px;
   }

   100% {
       left: 370px;
   }
}



@keyframes goLogo {
   0% {
       left: 0;
   }

   50% {
       left: 20px;
   }

   100% {
       left: 0;
   }
}